[global]
  DEFAULT_TEMPLATE= centos-cluster

[aws info]
AWS_ACCESS_KEY_ID = CHANGE_ACCESS_KEY
AWS_SECRET_ACCESS_KEY = CHANGE_SECRET_KEY
AWS_USER_ID= CHANGE_AWS_USER_ID

[key mykey]
KEY_LOCATION=~/.ssh/mykey.rsa

## CHANGE keypair name if using a different keyname.
[key my-keypair]
KEY_LOCATION= CHANGE_KEY_LOCATION 

[cluster centos-cluster]
CLUSTER_USER = sgeadmin 
KEYNAME = my-keypair
PLUGINS = cpac_sge,mnt_config
CLUSTER_SIZE = 1
CLUSTER_SHELL = bash

# centos StarCluster v3 ami  
NODE_IMAGE_ID =  ami-09194e63 
MASTER_INSTANCE_TYPE = t2.small
NODE_INSTANCE_TYPE = t2.small

#Change subnet id if running on different subnet
SUBNET_ID=subnet-CHANGEME
PUBLIC_IPS=True

[volume sample-data]
VOLUME_ID = vol-a192a24d
MOUNT_PATH = /sample-data

[plugin cpac_sge]
setup_class = cpac_sge.PEInstaller
pe_url = https://raw.githubusercontent.com/FCP-INDI/CPAC_CLOUD/master/mpi_smp.conf

[plugin mnt_config]
setup_class = mnt_perm.MntPermissions

[plugin pkginstaller]
SETUP_CLASS = starcluster.plugins.pkginstaller.PackageInstaller
PACKAGES = xfsprogs mdadm 

